.advertLeftTop, .advertRightBot{
border:black solid 1px;
width:14.5%;
float:left;
text-align:center;
/*overflow-x:hidden;
overflow-y:scroll;*/
}

.advertImageLT, .advertImageRB{
margin:2vh auto 2vh auto;
width:80%;
}

@media screen and (max-width: 768px) {
body {
background-color: black;
overflow-x: hidden;
}

.advertLeftTop, .advertRightBot{
border:black solid 1px;
width:100%;
float:left;
text-align:center;
overflow-x:scroll;
overflow-y:hidden;
height: 300px;
white-space: nowrap
}

.advertImageLT, .advertImageRB{
margin:2vh 2vw 2vh 2vw ;
height:250px;
width:250px;
}

}

