body{
    font-size:1.5em;
    font-family: monospace;
}

#container{
    margin:2% auto;
    background-color:white;
    width:94%;
    border-radius:5px;
    box-shadow: 0px 5px 15px 0px;
    text-align:center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:80%;
    border : 2px solid black;
    text-align: center;
    cursor: pointer;
    display:block;
    margin:2% auto;
    color : black;

}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#qImg{
    width:100%;
}

#qImg img{
    width:40%;
    border-top-left-radius: 5px;
    display:block;
    margin:2% auto;
}

#question{
    width:100%;
    display:block;
    margin:2% auto;
}

#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width:100%;
    display:block;
    margin:1% auto;
}

.choice{
    display: inline-block;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 2%;
    margin-top:2vh;
}

.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    width:94%;
    display:block;
    margin:2% auto;
    text-align: center;
    margin-top:2vh;
}

#counter{
    font-size:2em;
    width:94%;
    display:block;
    margin:2% auto; 
}

.gaugeWrapper{
    width:94%;
    display:block;
    margin:2% auto;   
    text-align: center; 
}

#btimeGauge{
    width : 90%;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left:4%;
}

#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left:4%;
}

#progress{
    width :100%;
    padding:5px;
    display:block;
    margin:2% auto;
    margin-top:2vh;
}

.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}

#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    width : 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;;
    display: none;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight:900;
}

.scoreContainerImage{
    width:10%;
    display:block;
    margin:2% auto;

}

#scoreContainerPercent{
    display: block;
    width :59px;
    height:59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}


button{
    border:solid black 2px;
    font-size:1.8em;
}

button:hover{
    cursor:pointer;
}

#jumpTo{
    display: none;
    margin-top:-1000px;
}














